<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mirror_night.png</key>
		<dict>
			<key>priority</key>
			<string>10</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,250}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>5</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>mirror_morning.png</key>
		<dict>
			<key>priority</key>
			<string>10</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,290}</string>
			</dict>
			<key>alph</key>
			<string>0</string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>4</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>coconut_tree_2.png</key>
		<dict>
			<key>priority</key>
			<string>19</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{-80,320}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string>10</string>
					<key>angleDuration</key>
					<string>1</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string>-10</string>
					<key>angleDuration</key>
					<string>1</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>house.png</key>
		<dict>
			<key>priority</key>
			<string>20</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,300}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>coconut_tree_1.png</key>
		<dict>
			<key>priority</key>
			<string>21</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{80,280}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string>-10</string>
					<key>angleDuration</key>
					<string>0.8</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string>10</string>
					<key>angleDuration</key>
					<string>0.8</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>lang.png</key>
		<dict>
			<key>priority</key>
			<string>50</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,120}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string>5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string>-5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>ship.png</key>
		<dict>
			<key>priority</key>
			<string>55</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string>{290,130}</string>
				<key>relativeHorizontal</key>
				<string></string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string></string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>0.3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string>5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string>-5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>sun.png</key>
		<dict>
			<key>priority</key>
			<string>50</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{135,400}</string>
			</dict>
			<key>alph</key>
			<string>0</string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>4</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>seagull_2.png</key>
		<dict>
			<key>priority</key>
			<string>49</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,380}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-10</string>
					<key>offsetY</key>
					<string>10</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1.5</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-5</string>
					<key>offsetY</key>
					<string>-5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1.5</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>seagull_1.png</key>
		<dict>
			<key>priority</key>
			<string>50</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,380}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-5</string>
					<key>offsetY</key>
					<string>-5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1.5</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-10</string>
					<key>offsetY</key>
					<string>10</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1.5</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>shadow.png</key>
		<dict>
			<key>priority</key>
			<string>90</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string>{187,300}</string>
				<key>relativeHorizontal</key>
				<string></string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string></string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>4</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>moon.png</key>
		<dict>
			<key>priority</key>
			<string>100</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{135,400}</string>
			</dict>
			<key>alph</key>
			<string>1</string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>light.png</key>
		<dict>
			<key>priority</key>
			<string>100</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,301}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>mainScene</key>
	<dict>
		<key>size</key>
		<string></string>
		<key>anchorPoint</key>
		<string></string>
		<key>position</key>
		<dict>
			<key>point</key>
			<string></string>
			<key>relativeHorizontal</key>
			<string></string>
			<key>relativeVertical</key>
			<string></string>
			<key>relativeOffset</key>
			<string></string>
		</dict>
		<key>alph</key>
		<string>0</string>
		<key>angle</key>
		<string></string>
		<key>scene</key>
		<array>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>alphDuration</key>
				<string>1</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>alphDuration</key>
				<string>8</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>0</string>
				<key>alphDuration</key>
				<string>1</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>node</key>
	<dict>
		<key>nameLabel</key>
		<dict>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{-30,430}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string>10</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string>-10</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>1</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>totalDuration</key>
	<string>10</string>
	<key>music</key>
	<string></string>
</dict>
</plist>
