<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sea1.png</key>
		<dict>
			<key>priority</key>
			<string>100</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,120}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>mainScene</key>
	<dict>
		<key>size</key>
		<string></string>
		<key>anchorPoint</key>
		<string></string>
		<key>position</key>
		<dict>
			<key>point</key>
			<string></string>
			<key>relativeHorizontal</key>
			<string></string>
			<key>relativeVertical</key>
			<string></string>
			<key>relativeOffset</key>
			<string></string>
		</dict>
		<key>alph</key>
		<string>0</string>
		<key>angle</key>
		<string></string>
		<key>scene</key>
		<array>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>alphDuration</key>
				<string>1</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>alphDuration</key>
				<string>10</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>0</string>
				<key>alphDuration</key>
				<string>1</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>node</key>
	<dict>
		<key>nameLabel</key>
		<dict>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string></string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string></string>
			</dict>
			<key>alph</key>
			<string>0</string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array/>
		</dict>
	</dict>
	<key>music</key>
	<string></string>
	<key>totalDuration</key>
	<string>2.5</string>
	<key>autoPlay</key>
	<dict>
		<key>imageNum</key>
		<string>100</string>
		<key>duration</key>
		<string>2.5</string>
		<key>size</key>
		<string></string>
		<key>relativeSizeScale</key>
		<string>1</string>
		<key>position</key>
		<dict>
			<key>point</key>
			<string></string>
			<key>relativeHorizontal</key>
			<string>0.5</string>
			<key>relativeVertical</key>
			<string>0.5</string>
			<key>relativeOffset</key>
			<string></string>
		</dict>
		<key>alph</key>
		<string></string>
		<key>angle</key>
		<string></string>
		<key>scene</key>
		<array>
			<dict>
				<key>size</key>
				<string></string>
				<key>relativeSizeScale</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>angle</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>frameDuration</key>
				<string>2.5</string>
			</dict>
			<dict>
				<key>size</key>
				<string></string>
				<key>relativeSizeScale</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>angle</key>
				<string></string>
				<key>alph</key>
				<string>0</string>
				<key>frameDuration</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
