<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sea1.png</key>
		<dict>
			<key>priority</key>
			<string>100</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,120}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>sea2.png</key>
		<dict>
			<key>priority</key>
			<string>10</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,120}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>sea3.png</key>
		<dict>
			<key>priority</key>
			<string>20</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,250}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>30</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>cloud.png</key>
		<dict>
			<key>priority</key>
			<string>5</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>0.5</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,360}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>150</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>15</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>ship.png</key>
		<dict>
			<key>priority</key>
			<string>80</string>
			<key>size</key>
			<string>{170,80}</string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>1</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{30,280}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string>15</string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string>{260,140}</string>
					<key>sizeDuration</key>
					<string>3</string>
					<key>offsetX</key>
					<string>-130</string>
					<key>offsetY</key>
					<string>5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-50</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>1</string>
					<key>angleDuration</key>
					<string>2</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-80</string>
					<key>offsetY</key>
					<string>20</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-10</string>
					<key>angleDuration</key>
					<string>2</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-250</string>
					<key>offsetY</key>
					<string>50</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>5</string>
					<key>angle</key>
					<string>-15</string>
					<key>angleDuration</key>
					<string>5</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>hantun.png</key>
		<dict>
			<key>priority</key>
			<string>90</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string>{-10,210}</string>
				<key>relativeHorizontal</key>
				<string></string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string></string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string>50</string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>80</string>
					<key>offsetY</key>
					<string>95</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-30</string>
					<key>angleDuration</key>
					<string>2</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>5</string>
					<key>offsetY</key>
					<string>5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>0.3</string>
					<key>angle</key>
					<string>-60</string>
					<key>angleDuration</key>
					<string>0.3</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>60</string>
					<key>offsetY</key>
					<string>-120</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-120</string>
					<key>angleDuration</key>
					<string>1</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>100</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2.5</string>
					<key>angle</key>
					<string>50</string>
					<key>angleDuration</key>
					<string>2.5</string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>0.2</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>60</string>
					<key>offsetY</key>
					<string>80</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-60</string>
					<key>angleDuration</key>
					<string>2</string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>0.2</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>70</string>
					<key>offsetY</key>
					<string>-100</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-120</string>
					<key>angleDuration</key>
					<string>1.5</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>100</string>
					<key>offsetY</key>
					<string>-50</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>0.3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>hantun2.png</key>
		<dict>
			<key>priority</key>
			<string>90</string>
			<key>size</key>
			<string></string>
			<key>anchorPoint</key>
			<string></string>
			<key>position</key>
			<dict>
				<key>point</key>
				<string>{-15,200}</string>
				<key>relativeHorizontal</key>
				<string></string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string></string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string>60</string>
			<key>repeatForever</key>
			<false/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string>{70,70}</string>
					<key>sizeDuration</key>
					<string>0.3</string>
					<key>offsetX</key>
					<string></string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string></string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>80</string>
					<key>offsetY</key>
					<string>95</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-30</string>
					<key>angleDuration</key>
					<string>2</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>5</string>
					<key>offsetY</key>
					<string>5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>0.3</string>
					<key>angle</key>
					<string>-60</string>
					<key>angleDuration</key>
					<string>0.3</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>50</string>
					<key>offsetY</key>
					<string>-100</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-120</string>
					<key>angleDuration</key>
					<string>1</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>100</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2.5</string>
					<key>angle</key>
					<string>50</string>
					<key>angleDuration</key>
					<string>2.5</string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>0.2</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>60</string>
					<key>offsetY</key>
					<string>80</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-60</string>
					<key>angleDuration</key>
					<string>2</string>
					<key>alph</key>
					<string>1</string>
					<key>alphDuration</key>
					<string>0.2</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>70</string>
					<key>offsetY</key>
					<string>-100</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string>-120</string>
					<key>angleDuration</key>
					<string>1.5</string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>100</string>
					<key>offsetY</key>
					<string>-50</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string>0</string>
					<key>alphDuration</key>
					<string>0.3</string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>mainScene</key>
	<dict>
		<key>size</key>
		<string></string>
		<key>anchorPoint</key>
		<string></string>
		<key>position</key>
		<dict>
			<key>point</key>
			<string></string>
			<key>relativeHorizontal</key>
			<string></string>
			<key>relativeVertical</key>
			<string></string>
			<key>relativeOffset</key>
			<string></string>
		</dict>
		<key>alph</key>
		<string>0</string>
		<key>angle</key>
		<string></string>
		<key>scene</key>
		<array>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>alphDuration</key>
				<string>1</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>1</string>
				<key>alphDuration</key>
				<string>10</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
			<dict>
				<key>anchorPoint</key>
				<string></string>
				<key>size</key>
				<string></string>
				<key>sizeDuration</key>
				<string></string>
				<key>offsetX</key>
				<string></string>
				<key>offsetY</key>
				<string></string>
				<key>position</key>
				<dict>
					<key>point</key>
					<string></string>
					<key>relativeHorizontal</key>
					<string></string>
					<key>relativeVertical</key>
					<string></string>
					<key>relativeOffset</key>
					<string></string>
				</dict>
				<key>moveDuration</key>
				<string></string>
				<key>angle</key>
				<string></string>
				<key>angleDuration</key>
				<string></string>
				<key>alph</key>
				<string>0</string>
				<key>alphDuration</key>
				<string>1</string>
				<key>bezierPath</key>
				<string></string>
				<key>bezierPathDuration</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>node</key>
	<dict>
		<key>nameLabel</key>
		<dict>
			<key>position</key>
			<dict>
				<key>point</key>
				<string></string>
				<key>relativeHorizontal</key>
				<string>1</string>
				<key>relativeVertical</key>
				<string></string>
				<key>relativeOffset</key>
				<string>{0,380}</string>
			</dict>
			<key>alph</key>
			<string></string>
			<key>angle</key>
			<string></string>
			<key>repeatForever</key>
			<true/>
			<key>scene</key>
			<array>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string>3</string>
					<key>offsetX</key>
					<string>-130</string>
					<key>offsetY</key>
					<string>5</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>3</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-50</string>
					<key>offsetY</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-80</string>
					<key>offsetY</key>
					<string>20</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>2</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
				<dict>
					<key>anchorPoint</key>
					<string></string>
					<key>size</key>
					<string></string>
					<key>sizeDuration</key>
					<string></string>
					<key>offsetX</key>
					<string>-250</string>
					<key>offsetY</key>
					<string>60</string>
					<key>position</key>
					<dict>
						<key>point</key>
						<string></string>
						<key>relativeHorizontal</key>
						<string></string>
						<key>relativeVertical</key>
						<string></string>
						<key>relativeOffset</key>
						<string></string>
					</dict>
					<key>moveDuration</key>
					<string>5</string>
					<key>angle</key>
					<string></string>
					<key>angleDuration</key>
					<string></string>
					<key>alph</key>
					<string></string>
					<key>alphDuration</key>
					<string></string>
					<key>bezierPath</key>
					<string></string>
					<key>bezierPathDuration</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>music</key>
	<string></string>
	<key>totalDuration</key>
	<string>13</string>
</dict>
</plist>
